{% include "parts/head.html.twig"%}

    <body>
        {% block body %} 

            {% include "parts/navbar.html.twig"%}

            <form class="creationForm" action="/editGallery/{{gallery.id}}" method="post">
                <h2 class="creationForm_generalTitle">Informations générales</h2>

                <input class="creationForm_galleryName" type="text" name="name" placeholder="Nom de la galerie" required  value="{{gallery.name}}"><br><br>
                <textarea class="creationForm_gallerDescr" name="description" rows="5" cols="33" placeholder="Description de la galerie" required>{{gallery.description}}</textarea>

                <h2 class="creationForm_tagsTitle">Mots-clés</h2>

                <div class="creationForm_tagInput">
                    <input class="tagInput_input" type="text"name="tag" placeholder="Ajouter un mot-clé">
                    <button type="button" class="tagInput_addButton"><span class="addButton_plusIcon material-symbols-outlined"> add </span></button>
                </div>
                <div class="tagsDisplay">
                </div>

                <input class="creationForm_hiddenArray tagsArray" type="hidden" name="tags">

                <h2 class="creationForm_statutTitle">Statut de la galerie</h2>
                <div class="creationForm_statutDiv">
                    <input class="statutDiv_radioPublic" type="radio" id="public" name="statut" value="1" {% if gallery['public'] == 1 %} checked {% endif %}>
                    <label class="statutDiv_radioPublicLabel" for="public">Publique</label>
                    <input class="statutDiv_radioPrivate" type="radio" id="private" name="statut" value="0" {% if gallery['public'] == 0 %} checked {% endif %}>
                    <label class="statutDiv_radioPublicLabel" for="private">Privée</label><br><br>
                    <div class="statutDiv_userInput hidden">
                        <input class="userInput_input" type="text" name="user" placeholder="Ajouter un utilisateur">
                        <button class="userInput_addButton" type="button">Ajouter</button>
                    </div><br>

                    <input class="statutDiv_hiddenArray usersArray" type="hidden" name="users">
                </div>
                <div class="usersDisplay">
                </div>

                <input class="creationForm_submit" type="submit" name="confirm" value="Confirmer">
            </form>
            <footer>
                <script type="module">
                    {{source('./js/manageTags.js')}}
                    {{source('./js/manageUsersOnPrivateGallery.js')}}
                    restoreTags({{ gallery.tags|json_encode|raw }});
                    restoreUsers({{ gallery.users|json_encode|raw }});
                </script>
            </footer>
        {% endblock %}
    </body>
{% include "parts/footer.html.twig"%}

        