{% include "./parts/head.html.twig" %}
    
{% include "./parts/navbar.html.twig" %}

{% block body %}

{# Récupérer le titre de la galerie et l'afficher #}
    {% if gallery is defined %}
        <h1>{{gallery['title']}}</h1>
    {% else %}
        <h1>Pas de titre</h1>
    {% endif %}

    {% if is_author == true and pictures %}
        <button class="edit_button">Edit</button>
        <button class="delete_button">Delete</button>
        <button class="add_image_button">Add Image</button>
        {% for picture in pictures %}
            <img src="{{picture['link']}}" alt="{{picture['desc']}}">
        {% endfor %}
    {% elseif is_author == true and not pictures %}
        <button class="edit_button">Edit</button>
        <button class="delete_button">Delete</button>
        <button class="add_image_middle_button">Add Image</button>
    {% elseif is_author == false and pictures %}
        {% for picture in pictures %}
            <img src="{{picture['link']}}" alt="{{picture['desc']}}">
        {% endfor %}
    {% elseif is_author == false and not pictures %}
        <p>Pas d'image</p>        
    {% endif %}

{% endblock %}

{% include "./parts/footer.html.twig" %}