{% include "parts/head.html.twig"%}

<body>
    {% block body %}

        {% include "parts/navbar.html.twig"%}

        <div class="grid-auto-fit">
            {% for publicGallery in listPublicGalleries %}
                <div class="grid-col2">
                    {{ publicGallery.name }}
                    {{ tabImg[publicGallery.id] }}
                </div>
            {% endfor %}
        </div>

        <div>
            <button id="btnPrev"><< précédent</button> <button id="btnNext">suivant >></button>
        </div>

        <div class="grid-auto-fit">
            {% for privateGallery in listPrivateGalleries %}
                <div class="grid-col2">
                    {{ privateGallery.name }}
                    {{ tabImg[privateGallery.id] }}
                </div>
            {% endfor %}
        </div>

        <div>
            <button id="btnPrevPrivate"><< précédent</button> <button id="btnNextPrivate">suivant >></button>
        </div>

    {% endblock %}
    <footer>
        <script>{{source('./js/index.js')}}</script>
    </footer>
</body>

{% include "parts/footer.html.twig"%}