{% include "parts/head.html.twig"%}

<body class="main">
    {% block body %}

        {% include "parts/navbar.html.twig"%}

        <div class="gallery-display">
            <div class="grid-container">
                {% for publicGallery in listPublicGalleries %}
                    <div class=" vignette">
                        <p>{{ publicGallery.name }}</p>
                        <img src="{{ tabImg[publicGallery.id]}}" alt="vignette de la galerie">
                    </div>
                {% endfor %}
            </div>
        </div>


        <div>
            <button id="btnPrev"><< précédent</button> <button id="btnNext">suivant >></button>
        </div>


        {% if user is defined %}
            <div class="">
                        {% for privateGallery in listPrivateGalleries %}
                            <div class="grid-col2">
                                {{ privateGallery.name }}
                                <img src="{{ tabImg[privateGallery.id] }}" alt="vignette de la galerie">
                            </div>
                        {% endfor %}
                    </div>

                    <div>
                        <button id="btnPrevPrivate"><< précédent</button> <button id="btnNextPrivate">suivant >></button>
                    </div>
        {% endif %}


    {% endblock %}
    <footer>
        <script>{{source('./js/index.js')}}</script>
    </footer>
</body>

{% include "parts/footer.html.twig"%}