{% include "parts/head.html.twig"%}

<body class="main">
    {% block body %}

        {% include "parts/navbar.html.twig"%}

        <div class="gallery-display">
            <div class="grid-container">
                {% for publicGallery in listPublicGalleries %}
                    <div class="gallery-vign" data-id="{{ publicGallery.id }}">
                        <p>{{ publicGallery.name }}</p>
                        <img src="{{ tabImg[publicGallery.id]}}" alt="vignette de la galerie">
                    </div>
                {% endfor %}
            </div>
        </div>


        <div class="paginate">
            <button id="btnPrev"><<</button>...<button id="btnNext">>></button>
        </div>


        {% if user is defined and user is not null %}
            <div class="gallery-display">
                <div class="grid-container">
                    {% for privateGallery in listPrivateGalleries %}
                        <div class="gallery-vign" data-id="{{ privateGallery.id }}>
                            <p>{{ privateGallery.name }}</p>
                            <img src="{{ tabImg[privateGallery.id] }}" alt="vignette de la galerie"">
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="paginate">
                <button id="btnPrevPrivate"><<</button>...<button id="btnNextPrivate">>></button>
            </div>
        {% endif %}


    {% endblock %}
    <footer>
        <script>{{source('./js/index.js')}}</script>
    </footer>
</body>

{% include "parts/footer.html.twig"%}