{% include "parts/head.html.twig"%}

<body>
    {% block body %} 

        {% include "parts/navbar.html.twig"%}
        
        <form class="search" action="/search" method="POST">
            <input class="search_name" type="text" name="searchBar" placeholder="Recherche par nom" value="{{ search }}">
            <div id="tagsDiv">
                <input type="text" id="tag" name="tag" placeholder="Ajouter un mot-clé">
                <button class="addTag">Ajouter</button>
            </div>
            <input type="hidden" id="tags" name="tags">
            <button type="submit">Search</button>
        </form>

        {% for gallery in galleries %}
            <div class="container">
                <h1>{{ gallery.name }}</h1>
                <p>{{ gallery.description }}</p>
            </div>
            <br>
        {% endfor %}

        <footer>
            <script type="module">
                {{ source('/js/tagsSearch.js') }}
                {{ source('/js/manageTags.js') }}
                restoreTags({{ tags|json_encode|raw }});
            </script>
        </footer>

    {% endblock %}
</body>

{% include "parts/footer.html.twig"%}